* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #000;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.right-column .top-box {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #333; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.right-column .top-box input, 
.right-column .top-box button {
    width: 100%;
    margin-bottom: 4px; 
    padding: 5px;  
    font-size: 10px; 
}

.right-column .top-box input {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
}

.right-column .top-box button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.right-column .iframe-container {
    margin-top: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right-column .iframe-container iframe {
    width: 100%;
    height: 50%; 
    border: none;
}

.left-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.left-column .top-box {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #333; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.left-column .top-box input, 
.left-column .top-box button {
    width: 100%;
    margin-bottom: 4px; 
    padding: 5px;
    font-size: 10px;
}

.left-column .top-box input {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
}

.left-column .top-box button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.left-column .iframe-container {
    margin-top: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-column .iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}


